.headline-background {
  background-image: url('../../../assets/images/LandingPage/headline-bg.png');
  background-repeat: no-repeat; 
  background-size: cover;
}

.init-headline-background {
  background-image: url('../../../assets/images/LandingPage/headline-bg.png');
  background-repeat: no-repeat; 
  background-size: cover;
  scale: 0.45;
}

.headline-text-gradient {
  background: -webkit-linear-gradient(80deg, #E6B73F 0.34%, #FF4DE5 57.71%, #813DFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.new-slide-container {
  /* width: 9.375rem; */
  /* height: 27px; */
  overflow: clip;
  /* animation: container-width-base infinite 9s ease 3s; */
  

  @media screen and (min-width: 425px) {
    /* width: 11.75rem; */
    /* height: 34px; */
    /* animation: container-width-xs-sm infinite 9s ease 3s; */
  }

  /* @media screen and (min-width: 640px) {
    width: 11.75rem;
    height: 34px;
    animation: container-width-xs-sm infinite 9s ease 3s;
  } */

  @media screen and (min-width: 768px) {
    /* width: 13.125rem; */
    /* height: 41px; */
    /* animation: container-width-md infinite 9s ease 3s; */
  }
  
  @media screen and (min-width: 1024px) {
    /* width: 20.875rem; */
    /* height: 58px; */
    /* animation: container-width-lg infinite 9s ease 3s; */
  }

 
}

@keyframes container-width-base {
  0% {
    width: 9.375rem;
  }
  29.17% {
    width: 9.375rem;
  }
  31.94% {
    width: 9.375rem;
  }
  62.50% {
    width: 9.375rem;
  }
  65.28% {
    width: 11.5rem;
  }
  95.83% {
    width: 11.5rem;
  }
  98.61% {
    width: 9.375rem;
  }
  100% {
    width: 9.375rem;
  }
}

@keyframes container-width-xs-sm {
  0% {
    width: 11.75rem;
  }
  29.17% {
    width: 11.75rem;
  }
  31.94% {
    width: 12rem;
  }
  62.50% {
    width: 12rem;
  }
  65.28% {
    width: 14.75rem;
  }
  95.83% {
    width: 14.75rem;
  }
  98.61% {
    width: 11.75rem;
  }
  100% {
    width: 11.75rem;
  }
}

@keyframes container-width-md {
  0% {
    width: 13.125rem;
  }
  29.17% {
    width: 13.125rem;
  }
  31.94% {
    width: 13.375rem;
  }
  62.50% {
    width: 13.375rem;
  }
  65.28% {
    width: 16.5rem;
  }
  95.83% {
    width: 16.5rem;
  }
  98.61% {
    width: 13.125rem;
  }
  100% {
    width: 13.125rem;
  }
}

@keyframes container-width-lg {
  0% {
    width: 20.875rem;
  }
  29.17% {
    width: 20.875rem;
  }
  31.94% {
    width: 21.25rem;
  }
  62.50% {
    width: 21.25rem;
  }
  65.28% {
    width: 26.25rem;
  }
  95.83% {
    width: 26.25rem;
  }
  98.61% {
    width: 20.875rem;
  }
  100% {
    width: 20.875rem;
  }
}

.new-slide-text {
  animation: anim-vertical infinite 9s ease-in-out 3s;
}


@keyframes anim-vertical {
  0% {
    transform: translateY(0%);
  }
  27.78% {
    transform: translateY(0%);
  }
  29.17% {
    transform: translateY(-16.67%);
  }
  31.94% {
    transform: translateY(-16.67%);
  }
  33.33% {
    transform: translateY(-33.33%);
  }
  61.11% {
    transform: translateY(-33.33%);
  }
  62.5% {
    transform: translateY(-50%);
  }
  65.28% {
    transform: translateY(-50%);
  }
  66.67% {
    transform: translateY(-66.67%);
  }
  94.44% {
    transform: translateY(-66.67%);
  }
  95.83% {
    transform: translateY(-83.33%);
  }
  98.61% {
    transform: translateY(-83.33%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.controller::before {
  content: ' invest in ';
  /* letter-spacing: 0.025em; */
  padding: 0 1px;
  animation: controller-anim infinite 9s ease 3s;
  max-width: 0;
  transition: max-width 1s;
  -webkit-transition: max-width 1s;
}

@keyframes controller-anim {
  0% {
    content: ' invest in ';
    /* letter-spacing: 0.025em; */
  }
  29.17% {
    content: ' invest in ';
    /* letter-spacing: 0.025em; */
  }
  31.94% {
    content: ' embrace ';
    /* letter-spacing: 0.025em; */
  }
  62.50% {
    content: ' embrace ';
    /* letter-spacing: 0.025em; */
  }
  65.28% {
    content: 'accelarate';
    /* letter-spacing: -0.025em; */
  }
  95.83% {
    content: 'accelarate';
    /* letter-spacing: -0.025em; */
  }
  98.61% {
    content: 'invest in';
    /* letter-spacing: 0.025em; */
  }
  100% {
    content: 'invest in';
    /* letter-spacing: 0.025em; */
  }
}