.headline-background {
  background-image: url('../../../assets/images/LandingPage/headline-bg.png');
  background-repeat: no-repeat; 
  background-size: cover;
}

.init-headline-background {
  background-image: url('../../../assets/images/LandingPage/headline-bg.png');
  background-repeat: no-repeat; 
  background-size: cover;
  scale: 0.45;
}

.headline-text-gradient {
  background: -webkit-linear-gradient(80deg, #E6B73F 0.34%, #FF4DE5 57.71%, #813DFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide-text-vertical {
  display: inline-flex;
  flex-direction: column;
  animation: anim-vertical infinite 12s ease 2s;
}

@keyframes anim-vertical {
  0% {
    transform: translateY(0%);
  }
  28.3% {
    transform: translateY(0%);
  }
  33.3% {
    transform: translateY(-33.3%);
  }
  61.7% {
    transform: translateY(-33.3%);
  }
  66.7% {
    transform: translateY(-66.7%);
  }
  95% {
    transform: translateY(-66.7%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.slide-text-horizontal {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  animation: anim-horizontal infinite 12s ease 2s;
}

.new-slide-container {
  animation: container-width infinite 9s ease;
}

@keyframes container-width {
  0% {
    width: 334px;
  }
  26.67% {
    width: 334px;
  }
  30% {
    width: 339px;
  }
  60% {
    width: 339px
  }
  63.33% {
    width: 420px;
  }
  93.33% {
    width: 420px;
  }
  96.67% {
    width: 334px;
  }
  100% {
    width: 334px;
  }
}

.new-slide-text {
  animation: anim-vertical-new infinite 9s ease;
}

@keyframes anim-vertical-new {
  0% {
    transform: translateY(0%);
  }
  23.33% {
    transform: translateY(0%);
  }
  26.67% {
    transform: translateY(-16.67%);
  }
  30% {
    transform: translateY(-16.67%);
  }
  33.33% {
    transform: translateY(-33.33%);
  }
  56.67% {
    transform: translateY(-33.33%);
  }
  60% {
    transform: translateY(-50%);
  }
  63.33% {
    transform: translateY(-50%);
  }
  66.67% {
    transform: translateY(-66.67%);
  }
  90% {
    transform: translateY(-66.67%);
  }
  93.33% {
    transform: translateY(-83.33%);
  }
  96.67% {
    transform: translateY(-83.33%);
  }
  100% {
    transform: translateY(-100%);
  }
}
