.headline-background {
  background-image: url('../../../assets/images/LandingPage/headline-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.init-headline-background {
  background-image: url('../../../assets/images/LandingPage/headline-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  scale: 0.45;
}

.headline-text-gradient {
  background: -webkit-linear-gradient(80deg, #e6b73f 0.34%, #ff4de5 57.71%, #813dff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.slide-container {
  overflow: hidden;
  vertical-align: top;
  transition: width 0.2s ease;
}

.slide-text {
  animation: anim-vertical infinite 9s ease-in-out;
  -webkit-animation: anim-vertical infinite 9s ease-in-out;
  -moz-animation: anim-vertical infinite 9s ease-in-out;
  -ms-animation: anim-vertical infinite 9s ease-in-out;
  -o-animation: anim-vertical infinite 9s ease-in-out;
}

@keyframes anim-vertical {
  0% {
    transform: translateY(0%);
  }
  27.78% {
    transform: translateY(0%);
  }
  29.17% {
    transform: translateY(-16.67%);
  }
  31.94% {
    transform: translateY(-16.67%);
  }
  33.33% {
    transform: translateY(-33.33%);
  }
  61.11% {
    transform: translateY(-33.33%);
  }
  62.5% {
    transform: translateY(-50%);
  }
  65.28% {
    transform: translateY(-50%);
  }
  66.67% {
    transform: translateY(-66.67%);
  }
  94.44% {
    transform: translateY(-66.67%);
  }
  95.83% {
    transform: translateY(-83.33%);
  }
  98.61% {
    transform: translateY(-83.33%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes anim-vertical {
  0% {
    transform: translateY(0%);
  }
  27.78% {
    transform: translateY(0%);
  }
  29.17% {
    transform: translateY(-16.67%);
  }
  31.94% {
    transform: translateY(-16.67%);
  }
  33.33% {
    transform: translateY(-33.33%);
  }
  61.11% {
    transform: translateY(-33.33%);
  }
  62.5% {
    transform: translateY(-50%);
  }
  65.28% {
    transform: translateY(-50%);
  }
  66.67% {
    transform: translateY(-66.67%);
  }
  94.44% {
    transform: translateY(-66.67%);
  }
  95.83% {
    transform: translateY(-83.33%);
  }
  98.61% {
    transform: translateY(-83.33%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@-moz-keyframes anim-vertical {
  0% {
    transform: translateY(0%);
  }
  27.78% {
    transform: translateY(0%);
  }
  29.17% {
    transform: translateY(-16.67%);
  }
  31.94% {
    transform: translateY(-16.67%);
  }
  33.33% {
    transform: translateY(-33.33%);
  }
  61.11% {
    transform: translateY(-33.33%);
  }
  62.5% {
    transform: translateY(-50%);
  }
  65.28% {
    transform: translateY(-50%);
  }
  66.67% {
    transform: translateY(-66.67%);
  }
  94.44% {
    transform: translateY(-66.67%);
  }
  95.83% {
    transform: translateY(-83.33%);
  }
  98.61% {
    transform: translateY(-83.33%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-ms-keyframes anim-vertical {
  0% {
    transform: translateY(0%);
  }
  27.78% {
    transform: translateY(0%);
  }
  29.17% {
    transform: translateY(-16.67%);
  }
  31.94% {
    transform: translateY(-16.67%);
  }
  33.33% {
    transform: translateY(-33.33%);
  }
  61.11% {
    transform: translateY(-33.33%);
  }
  62.5% {
    transform: translateY(-50%);
  }
  65.28% {
    transform: translateY(-50%);
  }
  66.67% {
    transform: translateY(-66.67%);
  }
  94.44% {
    transform: translateY(-66.67%);
  }
  95.83% {
    transform: translateY(-83.33%);
  }
  98.61% {
    transform: translateY(-83.33%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-o-keyframes anim-vertical {
  0% {
    transform: translateY(0%);
  }
  27.78% {
    transform: translateY(0%);
  }
  29.17% {
    transform: translateY(-16.67%);
  }
  31.94% {
    transform: translateY(-16.67%);
  }
  33.33% {
    transform: translateY(-33.33%);
  }
  61.11% {
    transform: translateY(-33.33%);
  }
  62.5% {
    transform: translateY(-50%);
  }
  65.28% {
    transform: translateY(-50%);
  }
  66.67% {
    transform: translateY(-66.67%);
  }
  94.44% {
    transform: translateY(-66.67%);
  }
  95.83% {
    transform: translateY(-83.33%);
  }
  98.61% {
    transform: translateY(-83.33%);
  }
  100% {
    transform: translateY(-100%);
  }
}
